params {
  reads       = "$projectDir/data/raw/*_{1,2}.fastq.gz"
  genome      = "s3://p53-pipeline/references/hg38.fa"
  index       = "s3://p53-pipeline/references/bowtie2/"
  samples_tsv = "$projectDir/data/tsv"
  outdir      = "$projectDir/results"
}

process {
  container = "seu-usuario/p53-pipeline:latest"

  withLabel: "low_mem" {
    cpus   = 2
    memory = "8 GB"
  }
  withLabel: "high_mem" {
    cpus   = 8
    memory = "32 GB"
  }
}

docker {
  enabled    = true
  runOptions = "-u \$(id -u):\$(id -g)"
}

profiles {

  local {
    process.executor = "local"
  }

  awsbatch {
    process.executor  = "awsbatch"
    process.queue     = "p53-pipeline-queue"
    aws.region        = "us-east-1"
    aws.batch.cliPath = "/usr/bin/aws"

    workDir = "s3://p53-pipeline/work"

    params.outdir  = "s3://p53-pipeline/results"
    params.genome  = "s3://p53-pipeline/references/hg38.fa"
    params.index   = "s3://p53-pipeline/references/bowtie2/"
  }
}