params {
  samples_tsv = "$projectDir/data/tsv"

  pipeline_outputs = "$projectDir/pipeline_outputs"
  results          = "$projectDir/results"
  logs             = "$projectDir/logs"

  genome_fasta = "$projectDir/data/genome/fasta/hg38.fa"

  cdna_fasta = "$projectDir/data/genome/fasta/Homo_sapiens.GRCh38.cdna.all.fa.gz"
  cdna_url   = "https://ftp.ensembl.org/pub/current_fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"

  integration_pairs = "$projectDir/config/integration_pairs.csv"

  cancer_type = "TCGA-LUAD"

  lfc_threshold   = 1.0
  padj_threshold  = 0.05
  promoter_window = 3000

  deseq_treated   = ""
  deseq_reference = ""

  run_download   = false
  run_downstream = false

  container = "seu-usuario/p53-pipeline:latest"
}

process {
  errorStrategy = "terminate"

  withLabel: "tiny" {
    cpus   = 1
    memory = "2 GB"
  }

  withLabel: "low_mem" {
    cpus   = 2
    memory = "8 GB"
  }

  withLabel: "medium_mem" {
    cpus   = 4
    memory = "16 GB"
  }

  withLabel: "high_mem" {
    cpus   = 8
    memory = "32 GB"
  }
}

profiles {
  local {
    process.executor = "local"
  }

  conda {
    process.executor = "local"
    conda.enabled    = true
    process.conda    = "$projectDir/environment.yml"
  }

  docker {
    process.executor  = "local"
    docker.enabled     = true
    process.container  = params.container
  }

  awsbatch {
    process.executor = "awsbatch"
    process.queue    = "p53-pipeline-queue"

    aws.region        = "us-east-1"
    aws.batch.cliPath = "/usr/bin/aws"

    workDir = "s3://p53-pipeline/work"

    process.container = params.container

    params.pipeline_outputs = "s3://p53-pipeline/pipeline_outputs"
    params.results          = "s3://p53-pipeline/results"
    params.logs             = "s3://p53-pipeline/logs"
  }
}

docker {
  enabled = false
}